[Unit]
Description=Tarock server
After=network.target

Wants=mysqld.service
After=mysqld.service

[Service]
ExecStart=/usr/bin/tarock-server
User=tarock

[Install]
WantedBy=multi-user.target
