<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tisza.tarock"
    android:versionCode="3"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="24" />
    
    <uses-permission android:name="android.permission.INTERNET" /> 
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_client"
        android:label="@string/app_name"
    	>
    	
    	<activity
    	    android:name="com.tisza.tarock.gui.GameActivtiy"
    	    android:screenOrientation="portrait"
    	    android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
    		>
    	</activity>
    	
    	<activity
    	    android:name="com.tisza.tarock.gui.ClientActivity"
    	    android:label="@string/client_app_name"
    	    android:icon="@drawable/icon_client"
    	    android:taskAffinity="com.tisza.tarock.client"
    	    android:screenOrientation="portrait"
    	    android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
    		>
    	    <intent-filter>
    	        <action android:name="android.intent.action.MAIN"/>
    	        <category android:name="android.intent.category.LAUNCHER"/>
    	    </intent-filter>
    	    
    	</activity>
    	
    	<activity
    	    android:name="com.tisza.tarock.gui.ServerActivity"
    	    android:label="@string/server_app_name"
    	    android:taskAffinity="com.tisza.tarock.server"
    	    android:screenOrientation="portrait"
    	    android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
    		>
    	    <intent-filter>
    	        <action android:name="android.intent.action.MAIN"/>
    	        <category android:name="android.intent.category.LAUNCHER"/>
    	    </intent-filter>
    	    
    	</activity>
    	
    	<service
    	    android:name="com.tisza.tarock.gui.ServerService"
    	    android:enabled="true"
    	    >
    	    
    	</service>
	</application>

</manifest>
